html {
	scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

.navbar,
#rodape {
    background-color: #3472d4;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #3472d4;
}

#cabecalho .nav .nav-link,
#rodape,
.navbar-brand,
.navbar-brand:hover,
.nav-servicos .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #cdedff;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #servicos {
    background-color: #cdedff;
}

.text-colored {
    color: #3472d4;
}

.nav-servicos .nav-link.active,
#fale-conosco button {
    background-color: #3472d4;
    color: #fff;
}

.nav-servicos .nav-link:hover {
    color: #3472d4;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#logo {
    height: 80px;
    margin-right: 20px;
}

#procedimentos img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    #cabecalho .container {
        display: flex;
        align-items: center;
    }

    #carousel .carousel-item img {
        height: 350px; 
        object-fit: cover;
    }

    #cabecalho  h1 {
        display: none
    }

    #cabecalho .nav .nav-link {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #menu-navegacao ul {
        display: flex;
        justify-content: end;
    }
}